@import url('https://fonts.google.com/css2?family=Roboto&display=swap');

body{
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a{
    color: hsl(207, 44%, 49%);
    text-decoration: none;
}

a:visited{
    color: purple;
}

a:hover, a:focus{
    color: hsl(189, 44%, 49%);
    cursor: pointer;
}

a:active{
    color: red;
}